<div ng-controller="agentListController">
    <div class="row margin-top-medium">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 chat-background">
            <div class="col-lg-12 chat-box" data-agent-id="{{agent.Id}}" ng-repeat="agent in agents | filter:statusFilter">
                <div class="col-lg-2 padding-none">
                    <img src="~/Content/Images/user.png" alt="{{agent.Name}}" />
                </div>
                <div class="col-lg-8 row">
                    <div class="col-lg-12 padding-none">
                        <div class="col-lg-6 padding-none">
                            <div class="col-lg-4 padding-left-xs">
                                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                            </div>
                            <label class="col-lg-4 padding-none">Ext: </label>
                            <label class="col-lg-4 padding-none">{{agent.Extension}}</label>
                        </div>
                        <div class="col-lg-6">
                            <label class="pull-right">{{agent.Name}}</label>
                        </div>
                    </div>
                    <div class="col-lg-12 padding-left-xs dropdown">
                        <select ng-model="agent.Status" class="agent-status">
                            <option value="on call">On call</option>
                            <option value="available">Available</option>
                            <option value="inactive">Inactive</option>
                            <option value="offline">Offline</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

<script src="~/App/SignalR/agentAdmin.js"></script>